*{
    margin: auto .5em;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    margin: 0;
    padding: 0;
    color: #A4A400;
    background-color: #f0f0f0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

h1 {
    margin-bottom: 1em;
    padding: .5em;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h2 {
    margin: .3em auto;
    padding: .2em 0;
    font-size: 18px;
    font-weight: normal;
}

p, li{
    color: #404040;
    font-size: 11px;
    font-family: Georgia, Geramond,serif;
}

a {
    color: #a4a400;

}

@media only screen and (min-width: 600px) {
    *{
        margin: auto 1.5em;
    }
}

header, .ingridients, .directions, .comments {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: .12em solid #404040;
}

header img ul, abbr, strike, span, a {
    margin: 0;
    padding: 0;
}

header ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.directions p {
    margin-top: .8em;
}

.directions span {
    font-weight: bold;
}

.comments .comment {
    margin: .8em auto;
    background-color: #FFFFA8;
}