*{
    margin: auto .5em;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    color: #A4A400;
    background-color: #f0f0f0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: normal;
}

p, li{
    color: #404040;
    font-size: 11px;
    font-family: Georgia, Geramond,serif;
}

a {
    color: #a4a400;

}

@media screen (max 600) {
    *{
        margin: auto 1.5em;
    }
}